@model Jobsity.Web.Controllers.BotsController.BotViewModel

@{
	ViewData["Title"] = "Bots";
}

<div class="container">
	<div class="row rounded-lg overflow-hidden shadow">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Bot name</th>
					<th scope="col">Endpoint</th>
					<th scope="col">Secret</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var bot in @Model.Bots)
				{
					<tr>
						<td>@bot.Name</td>
						<td>@bot.Url</td>
						<td>@bot.Secret.Substring(0, 3).PadRight(bot.Secret.Length, '*')</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
